# We can set the version of Node to use for the app here
node_version=5.8.0

# We can set the version of NPM to use for the app here
npm_version=3.8.3

# Add the config vars you want to be exported here
config_vars_to_export=(DATABASE_URL SECRET_KEY_BASE FASTBILL_EMAIL FASTBILL_TOKEN)

# We can change the filename for the compile script with this option
compile="compile"
